html {
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin: 0;
    padding: 20px;
    color: black;
}

button {
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    /* cursor: pointer; */
}

button:hover {
    background-color: rgb(50, 50, 50);
}

button:active {
    background-color: rgb(100, 100, 100);
    cursor: crosshair;
}

/* topnav */
.topnav {
    /* center content vertically with 20 px between*/
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    border: black solid 3px;
    padding: 10px;
}

.topnav * {
    margin: 0 10px;
}

/* container */
#container {
    padding: 20px;
    width: 95vw;
    left: 2.5vw;
}

#color-picker {
    display: block;
    margin: 20px auto;
}

/* if js variable rotated is true  */

.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}

.hex:hover,
.hex-rot:hover {
    /* resize children */
    transform: scale(1.1);
    transition: transform 0.5s;
    /* change color a bit */
    filter: brightness(1.1);
    transform: filter 0.5s;
}

.hex .top {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex .middle {
    width: 104px;
    height: 60px;
    background: #6C6;
}

.hex .bottom {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: 53px;
}

.hex-rot {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}

.hex-rot.even {
    margin-top: 53px;
}

.hex-rot .left {
    float: left;
    width: 0;
    border-right: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex-rot .middleRotated {
    float: left;
    width: 60px;
    height: 104px;
    background: #6C6;
}

.hex-rot .right {
    float: left;
    width: 0;
    border-left: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}




#colorDialogID {
    /* position always where cursor the is */
    position: absolute;
    top: 0;
    left: 0;
    /* hide the dialog */
    visibility: hidden;
}